@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.crimson {
    color: #dc143c;
    font-weight: bold;
}

.container {
    margin: 56px 0;
}

.row {
    padding: 0 48px;
}


/* 

NAV 

*/


nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 24px 12px;
}

.nav__logo--wrapper {
    margin-top: 5px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__logo--img {
    max-width: 60px;
}

.nav__logo--name {
    margin-left: 4px;
}

.nav__link--list {
    display: flex;
    align-items: center;
}

.nav__link {
    position: relative;
    margin-right: 36px;
    font-size: 16px;
    font-weight: 600;
    color: #242424;
    cursor: pointer;
    z-index: 1;
}

.nav__link:after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #dc143c;
    opacity: 0;
    transition: opacity 300ms ease;
    z-index: 2;
}

.nav__link:not(.nav__link--primary):hover:after {
    opacity: 1;
}

.nav__link--primary {
    padding: 16px 36px;
    margin-right: 5px;
    color: white;
    border: none;
    border-radius: 50px;
    background-color: #dc143c;
    box-shadow: 0 2px 4px rgb(0,0,0,0.5);
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.nav__link--primary:active {
    transform: scale(0.9);
    box-shadow: none;
}


/* 

SEARCH 

*/


#search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dc143c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

#search .container {
    margin: 24px 0;
}

.search__bar {
    position: relative;
    width: 600px;
}

.search__input {
    background-color: #dc143c;
    border: 1px solid white;
    width: 100%;
    padding: 14px;
    padding-right: 50px;
    padding-left: 40px;
    border-radius: 50px;
    outline: none;
    font-size: 20px;
    color: white;
}

.search__input::placeholder {
    color: #e0e0e0;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.search__btn {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #dc143c;
    border-radius: 50px;
    border: none;
    width: 56px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-magnifying-glass {
    color: white;
    font-size: 28px;
    font-weight: 600;
    transition: all 300ms ease;
}

.search__btn:active .fa-magnifying-glass {
    color: #242424;
}


/* 

RESULTS

*/


